.sidebar{
    width: 100%;
    font-family: 'Karla', sans-serif;
    overflow-y: auto
}

.sidebar-heading{
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 5% 0 5% 5%;
}
.sidebar-btn{
    color: white;
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;
    float: right;
    font-size: 1.5rem;
}

.selected-note{
    background-color: #4A4E74;
    color: white;
}

.notes{
    cursor: pointer;
    padding: 5% 0 5% 5%;
    display: flex;
}.notes .fa-trash-can{
    float: right;
    margin: 0 5% 0 auto;
    display: none;
}
